<!DOCTYPE html><html><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>My Team</title>
</head>

<body>
        <nav class="navbar navbar-light bg-light">
                <span class="navbar-brand mx-auto mb-0 h1" id="myTeam">serina</span>
            </nav>

    <main>
        <div class="card-header" id="addEmployee"><div class="card" style="width: 18rem;">
    <div class="card-header">
        Manager
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Name: <span id="name">harry</span></li>
        <li class="list-group-item">ID: <span id="id"></span></li>
        <li class="list-group-item">Email: <span id="email">
        </span></li>
        <li class="list-group-item">Office Number: <span id="officenumber"></span></li>
    </ul>
</div><div class="card" style="width: 18rem;">
    <div class="card-header">
        Engineer
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Name: <span id="name">arnold</span></li>
        <li class="list-group-item">ID: <span id="id">24</span></li>
        <li class="list-group-item">Email: <span id="email">arnold@work.com</span></li>
        <li class="list-group-item">Github: <span id="github">arnold</span></li>
    </ul>
</div></div>    
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Manager
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Name: <span id="name">Serina</span></li>
                <li class="list-group-item">ID: <span id="id">1</span></li>
                <li class="list-group-item">Email: <span id="email">serinat@uw.edu
                </span></li>
                <li class="list-group-item">Office Number: <span id="officeNumber">1</span></li>
            </ul>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Engineer
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Name: <span id="name">Fred</span></li>
                <li class="list-group-item">ID: <span id="id">2</span></li>
                <li class="list-group-item">Email: <span id="email">fred@gmail.com
                </span></li>
                <li class="list-group-item">Github: <span id="github">github.com/fred</span></li>
            </ul>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Engineer
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Name: <span id="name">Tom</span></li>
                <li class="list-group-item">ID: <span id="id">3</span></li>
                <li class="list-group-item">Email: <span id="email">tom@yahoo.com
                </span></li>
                <li class="list-group-item">Github: <span id="github">github.com/tom</span></li>
            </ul>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Intern
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Name: <span id="name">Linda</span></li>
                <li class="list-group-item">ID: <span id="id">4</span></li>
                <li class="list-group-item">Email: <span id="email">linda@uw.edu
                </span></li>
                <li class="list-group-item">School: <span id="school">UW</span></li>
            </ul>
        </div>
    </main>


</body></html>